#poza1 { align: left;
         margin:10px;
}
#poza2 {
    text-align: center;
    margin: 10px;
}
#poza3 {
    text-align: right;
    margin: 10px;
}
.span {
    text-align:center;
    margin: 20px;
}
.button {
    background-color:black;
}